// variable scss
@import "./variables";

// mixin scss
@import "./mixins";

@import "./extends";

// default scss
@import "./common";

// button scss
@import "./button";

@import "./blog";

@import "./single_blog";

@import "./menu";
// body scss

@import "./banner";

@import "./about";

@import "./feature_part";

@import "./learning";

@import "./member_counter";

@import "./special_cource";

@import "./cource_details";

@import "./testimonial_part";

@import "./footer";


@import "./elements";

@import "./blog_part";

@import "./copyright_part";

@import "./contact";


// breadcrumb scss
@import "./breadcrumb";















@import "./footer";


